
.appDemo {
    width: 55em;
    max-width: 98%;
    height: 42em;
    box-shadow: 0 0 5px var(--fontColor);
    border-radius: 0.8em;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10em auto;
    grid-template-rows: 2em auto;
}

 .demo-header {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 0.8em;
}
.demo-navigation {
    background-color: rgb(67, 66, 66);
    color: white;
}

.demo-navigation ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.demo-navigation li {
    border-left: 0.3em solid rgb(67, 66, 66);
    margin: 1em 0;
}

.demo-navigation li:hover {
    cursor: pointer;
}

.demo-navigation .selected {
    border-left: 0.3em solid red;
    font-weight: bold;
}

.demo-main {
    background-color: rgb(57, 57, 57);
    overflow-y: scroll;
}

.demo-main img {
    width: 100%;
}

.demo-houses-list {
    font-size: 0.8em;
    opacity: 0;
    margin-top: 100px;
    transition: 1000ms;
}

.demo-houses-list.selected {
    opacity: 1;
    margin-top: 0;
    border-left: none;
    font-weight: 100;
}

.demo-houses-list.selected li {
    border-left: 0.3em solid rgb(67, 66, 66);
}

.demo-houses-list li.selectedHouse {
    border-left: 0.3em solid red;
}


