aside {
    box-shadow: 0 0 5px var(--darkestBlue);
    height: calc(100vh - var(--headerHeight));
    width: var(--asideWidth);
    position: fixed;
    top: var(--headerHeight);
    left: 0;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1em;
    z-index:19;
}

aside nav {
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(110, 194, 222);
}

aside nav li {
    padding: 0.5em 0;
    border-bottom: 1px solid rgb(110, 194, 222);
}

aside nav li:hover {
    color: var(--middleBlue);
    cursor: pointer;
}

aside .socials {
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.profile-image {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 1em;
}