
header {
    box-shadow: 0 0 5px var(--darkestBlue);
    height: var(--headerHeight);
    width: calc(100vw);
    position: fixed;
    top: 0;
    left: 0;
    background-color: inherit;
    display: flex;
    align-items: center;
    z-index: 20;
  }

header h3 {
    margin-left: 3em;
    font-size: 1.5em;
    font-weight: 500;
  }