#intro {
    position: absolute;
    width: 70%;
    height: 500px;
    z-index: 9;
    background-color: inherit;
}

#intro .box-content {
    max-width: 450px;
}

#intro .text {
    margin-top: 3em;
}