#intro {
    position: relative;
    display: flex;
    width: 75%;
    height: 70vh;
    z-index: 9;
    animation-name: slide-intro;
  }
  
  @keyframes slide-intro {
    from {left: -100%;}
    to {left: 0;}
  }

#intro .box-content {
    max-width: 37em;
}

#intro .text {
    margin-top: 3em;
}

@media screen and (max-width: 600px) {
  #intro {
    position: relative;
    width: 100%;
    height: auto;
  }

    
  @keyframes slide-intro {
    from {left: -100vw;}
    to {left: 0;}
  }

}