#mySkills {
    position: absolute;
    width: 35%;
    z-index: 8;
    top: 0;
    right: 0;
    height: 36em;
    background-color: inherit;
    text-align: right;
    animation-name: slide-in-right;
  }
  
  @keyframes slide-in-right {
    from {right: -40%;}
    to {right: 0;}
  }

#mySkills .skills{
    margin-top: 2em;
}

.skills li {
    padding: 0.8em 0;
}