#mySkills {
  position: absolute;
  width: 35%;
  z-index: 8;
  top: 0;
  right: 0;
  height: 80vh;
  text-align: right;
  justify-content: right;
  display: flex;
  animation-name: slide-in-right;
}

@keyframes slide-in-right {
  from {
    right: -40%;
  }

  to {
    right: 0;
  }
}

#mySkills .box-content {
  display: grid;
  grid-template-rows: 2.5em 2.5em auto;
  justify-content: flex-start;
}

#mySkills .skills {
  margin-top: 2em;
  display: grid;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #mySkills {
    position: relative;
    width: 100%;
    height: auto;
  }

  #mySkills {
    text-align: center;
    
  }

  #mySkills .box-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: flex-start;
  }
  
  #mySkills .title-medium:nth-child(1){
    text-align: right;
    margin-right: 0.1em;
  }

  #mySkills .title-medium:nth-child(2){
    text-align: left;
    margin-left: 0.1em;
  }
  

  #mySkills .skills {
    display: flex; 
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @keyframes slide-in-right {
    from {
      right: -100vw;
    }
  
    to {
      right: 0;
    }
  }
  

}