.theme-toggle-button {
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .outer-toggle-button {
    width: 50%;
    height: 1em;
    border-radius: 1em;
    position: relative;
    background-color: var(--fontColor);
  }
  
  .dark .outer-toggle-button {
    background-color: rgb(141, 2, 2);
  }
  
  .inner-toggle-button {
    height: 100%;
    width: 1em;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s ease;
    left: 0;
    background-color: var(--backgroundColor);
    box-shadow: 0 0 5px rgb(102, 102, 102);
  }
  
  .dark .inner-toggle-button {
    left: calc(100% - 1em);
    background-color: white;
  }
  