#work {
    top: 0em;
    position: absolute;
    z-index: 6;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

#work .title-medium {
    text-align: center;
    padding-bottom: 20em;
}

#work .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-cards {
    position: relative;
    display: grid;
    padding-top: 1em;
    grid-template-columns: 20em 20em;
    padding-bottom: 10em;
    gap: 8em;
}

.portfolio-card {
    box-shadow: 0 0 3px var(--fontColor);
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: -40vh;
    opacity: 0;
}

.portfolio-card:nth-child(even) {
    top: 10em;
    z-index: inherit;
}

.portfolio-card img {
    width: 80%;
}

.portfolio-card button {
    width: 50%;
    padding: 5% 0;
    margin: 1em;
}

.portfolio-card h3 {
    text-align: center;
    padding-bottom: 1em;
}

.portfolio-card.hidden {
    opacity: 0;
}

.portfolio-card.show {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: fade-portfolio-card;
}

@keyframes fade-portfolio-card {
    from {
        left: 40vh;
        opacity: 0;
    }
    
    to {
        left: 0;
        opacity: 1;
    }
}


@media (orientation: portrait) {

    .portfolio-cards {
        grid-template-columns: 25em;
        padding-bottom: 10em;
        gap: 8em;
    }

    .portfolio-card:nth-child(even) {
        top: 0;
    }

    .portfolio-card.hidden:nth-child(odd) {
        left: -50vw;
    }

    .portfolio-card.hidden:nth-child(even) {
        left: -50vw;
    }
}


@media screen and (max-width: 600px) {
    #work {
        position: relative;
        width: 100%;
        top: 0;
    }

    .portfolio-cards {
        grid-template-columns: 100%;
        padding-bottom: 0;
        gap: 5em;
        justify-content: center;
    }

    .portfolio-card {
        padding: 1em;

    }

    .portfolio-card img {
        width: 100%;
    }

    .portfolio-card button {
        width: 75%;
        padding: 1.5em;
        margin: 1em;
    }

    
@keyframes come-forward {
    0% {
        top: 2em;
        left: calc(100vw * 1.5);
        width: 90%;
    }

    40% {
        top: 2em;
        left: calc(100vw * 1.5);
        width: 90%;
    }

    60% {
        top: 2em;
        left: 50%;
        width:90%;
        font-size: 90%;
    }

    80% {
        top: 2em;
        left: 50%;
        width: 90%;
        font-size: 90%;
    }
    
    100% {
        left: 50%;
        font-size: 100%;
        top: 0;
        width: 100%;
    }
}

@keyframes go-behind {
    35% {
        top: 2em;
        width: 90%;
        font-size: 90%;
        left: 50%;
    }

    60% {
        top: 2em;
        width:90%;
        font-size: 90%;
        left: 50%;
    }

    100% {
        top: 2em;
        width: 90%;
        left: -100vw;
        font-size: 90%;
    }
}

}