.work {
    top: 0em;
    position: absolute;
    z-index: 6;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.work.show-card {
    animation-name: show-work;
    animation-duration: 1000ms;
}

@keyframes show-work {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
}


.work .text {
    width: 35em;
    max-width: 98%;
}

.work .box-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10em;
    align-items: center;
    height: 100%;
    padding-bottom: 10em;
}

.portfolio-intro {
    height: calc(98vh - var(--headerHeight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.down-arrow {
    position: absolute;
    bottom: 0;
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
    animation-name: bounce-up-down-repeating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes bounce-up-down-repeating {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 30px;
    }

    100% {
        bottom: 0;
    }
}

.portfolio-cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    max-width: 85em;
    gap: 2em;
    justify-content: space-between;
}


.portfolio-card {
    opacity: 0.01;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid var(--fontColor);
    padding: 1em 2em;
    position: relative;
    left: -400px;
    background-color: inherit;
    background-color: var(--backgroundColor);
    z-index: 3;
    animation-delay: 0s;
}

.portfolio-card .heading {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.portfolio-card .heading p {
    font-size: 0.8em;
    letter-spacing: 2px;
}

.portfolio-card .techlist {
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: bold;
}

.portfolio-card:nth-child(3n+2) {
    animation-delay: 300ms;
    z-index: 2;
    top: 50px;
}

.portfolio-card:nth-child(3n+3) {
    animation-delay: 600ms;
    z-index: 1;
    top: 100px;
}

.dark .portfolio-card {
    border: 1px solid var(--fontColor);
    box-shadow: none;
}

.portfolio-card .underline-on-hover {
    align-self: flex-end;
}

.portfolio-card img {
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 70%;
    max-width: 70%;
    margin: auto;
}

.portfolio-card h3 {
    font-size: 1.5em
}

.portfolio-card.show {
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: fade-portfolio-card;
}

@keyframes fade-portfolio-card {

    to {
        left: 0;
        right: 0;
        opacity: 1;
        transform: rotate(0);
    }
}

@media screen and (max-width: 1350px) {

    .portfolio-cards {
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-card.show {
        animation-duration: 400ms;
    }

    .portfolio-card {
        left: -200px;
    }
}

@media screen and (max-width: 650px) {


    .work {
        position: relative;
    }

    .work .text {
        width: 80%;
    }

    .portfolio-cards {
        grid-template-columns: 1fr;
        row-gap: 2em;
    }

    .portfolio-card {
        left: 200px;
        padding-top: 2em;
        animation-delay: 0s;
        top: 0;
    }

    .portfolio-card:nth-child(3n+2) {
        top: 0px;
        animation-delay: 0s;
    }

    .portfolio-card:nth-child(3n+3) {
        top: 0px;
        animation-delay: 0s;
    }

    .portfolio-card:nth-child(odd) {
        left: -200px;
    }



    .portfolio-card img {
        grid-column-start: auto;
        grid-column-end: auto;
        max-height: 100%;
        max-width: 100%;
    }


    @keyframes come-forward {
        0% {
            top: 2em;
            left: calc(100vw * 1.5);
            width: 90%;
        }

        40% {
            top: 2em;
            left: calc(100vw * 1.5);
            width: 90%;
        }

        60% {
            top: 2em;
            left: 50%;
            width: 90%;
            font-size: 90%;
        }

        80% {
            top: 2em;
            left: 50%;
            width: 90%;
            font-size: 90%;
        }

        100% {
            left: 50%;
            font-size: 100%;
            top: 0;
            width: 100%;
        }
    }

    @keyframes go-behind {
        35% {
            top: 2em;
            width: 90%;
            font-size: 90%;
            left: 50%;
        }

        60% {
            top: 2em;
            width: 90%;
            font-size: 90%;
            left: 50%;
        }

        100% {
            top: 2em;
            width: 90%;
            left: -100vw;
            font-size: 90%;
        }
    }

}