#work {
    position: absolute;
    top: 33em;
    width: 100%;
    background-color: inherit;
    animation-name: slide-in-bottom;
    z-index: 7;
}

@keyframes slide-in-bottom {
    from {
        top: 50em;
    }

}

#work .title-medium {
    text-align: center;
    padding-bottom: 2em;
}

#work .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-cards {
    position: relative;
    display: grid;
    grid-template-columns: 20em 20em;
    padding-bottom: 5em;
    gap: 10em;
}

.portfolio-card {
    box-shadow: 0 0 3px var(--fontColor);
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 2s;
}

.portfolio-card:nth-child(even) {
    top: 5em;
    z-index: inherit;
}

.portfolio-card img {
    width: 80%;

}

.portfolio-card h3 {
    text-align: center;
    padding-bottom: 1em;
}

.portfolio-card.hidden:nth-child(odd) {
    left: -30em;
}

.portfolio-card.hidden:nth-child(even) {
    left: -50em;
}

.portfolio-card.show {
    left: 0;
}

