@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;400;500;800&display=swap');

:root {
  --darkestBlue: #2146b3;
  --middleBlue: #3d77fe;
  --lightestBlue: #c8efff;

  --headerHeight: 100px;
  --asideWidth: 175px
}

* {
  margin: 0;
  padding: 0;
  font-weight: 00;
  font-family: sans-serif;
}

li {
  list-style: none;
}

.App {
  font-size: 1.2em;
}

.light {
  background-color: var(--lightestBlue);
  color: var(--middleBlue);
}

.dark {
  color: white;
  background-color: black;
}

main {
  position: relative;
  top: var(--headerHeight);
  left: var(--asideWidth);
  width: calc(100% - var(--asideWidth));
  height: 100%;
  background-color: inherit;
  display: flex;
}

main.light {
  background-color: var(--lightestBlue);
}

.title-large {
  font-size: 3.5em;
}

.title-large.shadow {
  color: var(--lightestBlue);
  text-shadow: 2px 2px 8px var(--darkestBlue);
}

.title-medium {
  font-size: 2.5em;
}

.title-medium.shadow {
  color: var(--lightestBlue);
  text-shadow: 2px 2px 8px var(--darkestBlue);
}

.text p {
  margin: 1em 0;
}

.box {
  box-shadow: 0 0 5px var(--darkestBlue);
}


.box-content {
  padding: 2em 4em;
}