@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;400;500;800&display=swap');

:root {
  --darkestBlue: #3d77fe;
  --middleBlue: #8badfd;
  --lightestBlue: #c8efff;

  --headerHeight: 100px;
  --asideWidth: 150px
}

* {
  margin: 0;
  padding: 0;
  font-weight: 00;
  font-family: sans-serif;
}

.App {
  font-size: 1.2em;
}

button {
  padding: 1em 2em;
  border: none;
  background-color: var(--darkestBlue);
  color: var(--lightestBlue);
}

button:hover {
  background-color: var(--middleBlue);
  cursor: pointer;
}

li {
  list-style: none;
}

.light {
  background-color: var(--lightestBlue);
  color: var(--darkestBlue);
}

.dark {
  color: white;
  background-color: black;
}

main {
  position: relative;
  top: var(--headerHeight);
  left: var(--asideWidth);
  width: calc(100% - var(--asideWidth));
  height: 100%;
  background-color: inherit;
  display: flex;
}

main.light {
  background-color: var(--lightestBlue);
}

.title-large {
  font-size: 3em;
}

.title-large.shadow {
  color: var(--lightestBlue);
  text-shadow: 2px 2px 8px var(--darkestBlue);
}

.title-medium {
  font-size: 2em;
}

.title-medium.shadow {
  color: var(--lightestBlue);
  text-shadow: 2px 2px 8px var(--darkestBlue);
}

.text p {
  margin: 1em 0;
  font-size: 0.9em;
}

.box {
  box-shadow: 0 0 3px var(--darkestBlue);
}

.box-content {
  padding: 2em 4em;
}

.large-section {
  width: 1000px;
  margin: auto;
}

.profile-image {
  border-radius: 50%;
}